.gradient-text {
  background: linear-gradient(90deg, #5b3293, #3367f3, #4da9e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
